<% provide :title, t("title") %>
<h1><%= t(".title") %></h1>
<p>
  <%= t(".message_about_html", hreftutorial: link_to(t(".detail_page"), t(".link")), book: link_to(t(".book_detail"), t(".link_book")), screencast: link_to(t(".screencast_detail"), t(".link_screencast")), href: link_to(t(".detail"), t(".link_rails"))) %>
</p>
