<% provide :title, t("title") %>
<h1><%= t(".title") %></h1>
<p>
  <%= t(".message_help_html", help: link_to(t(".detail"), t(".link_help")), book: link_to(t(".book_detail"), t(".link_book"))) %>
</p>
